body {
    background-color: black;
}

#red {
    background-color: #800000;
    margin-left: 1rem;
    margin-top: -1rem;
}

#white {
    background-color: white;
    margin-left: 1rem;
    margin-top: -1rem;
}