.rocketry {
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 1300px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.title{
    font-weight: 200;
    font-size: 3rem;
}

.greyBlock {
    background-color: lightgrey;
    width: 100%;
    height: 40vh;
}

.subDescription {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 300;
    width: 90%;
    float: right;
}

.block {
    display: flex;
    margin-top:10em;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.subTitle {
    font-size: 3rem;
    font-weight: 400;
}

@media screen and (max-width: 1050px){
    #spaces {
        margin-left: 3rem;
    }
}