@import url('https://fonts.googleapis.com/css?family=Poppins:100,200i,200,300,400,500i,900,900i');

.about {
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
}

.title{
    font-weight: 200;
    font-size: 3rem;
}

.Mtitle{
    font-weight: 200;
    font-size: 3rem;
    text-align: right;
}

.subDescription {
    font-size: 1.5rem;
    font-weight: 100;
    width: 90%;
}

.bigTable {
    gap: 0rem;
    width: 100%;
}

.table {
    display: table;
    width: 100%;
    padding: 5px;
    font-family: "Poppins";
    height: 10vh;
    overflow-y: auto;
}

.tr_header {
    display: flex;
    padding: 5px;
    font-size: 1rem;
    font-weight: 100;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.tr {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 100;
    align-items: center;
    text-align: left;
}

#row {
    border: white 1px solid;
    font-size: 1.4em;
}

#headRow {
    border-bottom: white 3px solid;
    font-size: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tr_image {
    display: flex;
    font-size: 1.3rem;
    font-weight: 100;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin-right: -15rem;
}

.outcomes{
    background-color: white;
    color: black;
    margin-left: -4rem;
    margin-right: -4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    margin-bottom: -10rem;
}

.msub {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: right;
    padding-left: 4rem;
}

.grid {
    display: grid;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    font-family: "Poppins";
    font-weight:lighter;
}

.row2 {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    .pImage {
        width: 11vw;
        height: auto;
    }

    .separator {
        flex-wrap: nowrap;
    }
}

.colrow1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.colrow2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.memCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    font-weight: 100;
}

.pImage {
    width: 12vw;
}

.mName {
    margin-top: -1vh;
    font-size: 1.5vw;
}

.mRole {
    margin-top: -2.4vh;
    font-style: italic;
    font-weight: 100;
    font-size:'1vw';
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
}
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }


.memLogo {
    transform: scale(1.2);
}

#memLinks {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1800px) {
    .row1{
        margin-top: 5vh;
    }

    .mName {
        margin-top: 1vh;
    }

    .mRole {
        font-size: 1.2vw;
    }

    .colrow1, .colrow2 {
        margin-top: 6vh;
    }
}

@media screen and (min-width: 1500px) {
    .row1{
        margin-top: 5vh;
    }

    .mName {
        margin-top: 1vh;
    }

    .mRole {
        font-size: 1.2vw;
    }

    .colrow1, .colrow2 {
        margin-top: 6vh;
    }

    #tdName {
        padding-right: 8rem;
    }
}

@media screen and (max-width: 1300px) {
    .mRole {
        font-size: 1.3vw;
        margin-top: -1vh;
    }

    .colrow1, .colrow2 {
        margin-top: 6vh;
    }
}

@media screen and (max-width: 1250px){
    .td {
        transform: scale(0.6);
    }

    .tr_image{
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        /* flex-direction: column; */
        margin-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .mName {
        margin-top: -5vw;
        font-size: 1.5vw;
    }

    .mRole {
        font-size: 1.4vw;
        flex-wrap: wrap;
        width: 90%;
        text-align: center;
    }

    .row1 {
        margin-top: -4vw;
    }

    .colrow1, .colrow2 {
        margin-top: -6vh;
    }
}